@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#e5ddd5];
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.bg-hero {
  background-image: url('assets/background.jpg');
}